/**------------------------------------------------------------------------
 *                           NAVIGATIONFÄLT
 *------------------------------------------------------------------------**/

.navBar{
  
  background-color: beige;
}

.navList{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px;

}

.navItem{
  margin: 0 30px;
  font-size: 20px;


}

.navItem a{
  /* Tar bort färgen som ligger som standard */
  text-decoration: none;
  color: black;
  /* Transsition till hover effekt */
  transition: 0,5s ease;

}

.navItem a:hover{
  color: blueviolet;
  transform: scale(20);

}

