.navBar{
  background-color: beige;
}

.navbar ul{
  list-style-type: none;
  padding: 3px;
  margin: 0;

}

.navbar ul li{
  margin-right: 15px;
  font-size: 33px;

  
}

.navbar ul li:hover{
  color: blueviolet;
  cursor:pointer;
}

.navbar ul li a{
  text-decoration: none;

}

.navBar ul li a:hover{
  color: blueviolet;

}
