/**------------------------------------------------------------------------
 *                           NAVIGATIONFÄLT
 *------------------------------------------------------------------------**/

.navBar{
  
  background-color: beige;
}

.navList{
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 10px;

}

.navItem{
  margin: 0 30px;
  font-size: 20px;


}

.navItem a{
  /* Tar bort färgen som ligger som standard */
  text-decoration: none;
  color: black;
  /* Transsition till hover effekt */
  transition: 0,5s ease;

}

.navItem a:hover{
  color: blueviolet;
  transform: scale(20);

}

/**------------------------------------------------------------------------
 *                           Huvud Bodyn av hemsidan
 *------------------------------------------------------------------------**/

 body {
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     background-color: antiquewhite;
 }

 /**------------------------------------------------------------------------
  *                           Huvudsidan 
  *------------------------------------------------------------------------**/
 
  /* Huvuddelen av allt */
 .home-main{
  /* Lägger till en enkel border för att se vart innehåller ligger i förhållande till allt */
  border: solid 5px;
  display: flex;
  flex-direction: column;
  /* Centerar allt innehåll Verikalt*/
  justify-content: center;
  /* Centrerar allt horisontellt */
  align-items: center;
  /* Gör att den täcker hela rutan */
  height: 100vh;
  /* Centera texten */
  text-align: center;
  padding: 40px;


 }

 /* Header */
 .home-header{
  /* Lägger till en enkel border runt */
  border: darkblue solid 2px;
  /* Skapar lite margial runt om */
   margin: 30px;
 }

 /* Rubriktexten i header */
 .home-header h1 {
  font-size: 2.5rem;

 }

 /* Underrubrik i header */
 .home-header h2 {
  font-size: 2rem;

 }

